*{  cursor: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
    color: white;
    background-color: #000;
    font-family: "Poppins",sans-serif;
    transition: .1s;
}
a{
    color: #fff;
    text-decoration: none;
}

img{
    user-select: none;
    width: inherit;
    height: inherit;
    cursor: inherit;
    pointer-events: inherit;
    border-radius: 100%;
    animation: fade 1s ease-in-out;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
    backdrop-filter: blur(1px);
    cursor: pointer;
    pointer-events: none;
    /* border-bottom:5px solid #00bfff; */
}

.title{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin: 80px;
    margin-left: 420px;
    column-gap: 100px;
}
.name{
    cursor: pointer;
    pointer-events: fill;
    width: fit-content;
    height: fit-content;
}
.name span{
    margin-left: -1rem;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    font-family: "Montserrat",sans-serif;
    font-size: 100px;
    font-weight: 500;
} 

#C{
    animation: blink .5s ease;
}
#H{
    animation: blink 1s ease;
}
#E{
    animation: blink .5s ease;
}
#L{
    animation: blink 1s ease;
}
#S{
    animation: blink .5s ease;
}
#I{
    animation: blink 1s ease;
}
.title span:hover{
    color: #00bfff;
}
.title #surname{
    font-family: "dancing script",serif;
    font-size: 90px;
    color: #B47E28;
    position: relative;
    left: 50%;
    margin-top: -3.8rem;
    animation: glow 3s infinite, fade 1.5s ease-in-out;
}
@keyframes blink {
    0%{
        color: #fff;
    }    
    100%{
        color:#00bfff;
    }
}

@keyframes glow {
    0%{
        text-shadow:none;
    }
    50%{
        text-shadow:0 0 20px #ff9d00;
    }
    100%{
        text-shadow: none;
    }
}

#music{
    background-color: transparent;
    width: max-content;
    height: max-content;
    position: relative;
    border-radius: 100%;
    font-size: 1.5rem;
    animation: fade 2s ease-in;
}
#o{
    animation: fade .5s ease-in;
}
#t{
    animation: fade 1s ease-in;
}
#th{
    animation : fade 1.5s ease-in;
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.nav-links{
    position: absolute;
    display: flex;
    right: 2%;
    padding: 15px;
}
.nav-links:hover{
    color: #B47E28;
}
.nav-links li{
    position: relative;
    list-style-type: none;
    font-size: 1.3em;
    font-weight: 300;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    overflow: hidden;
    border-radius: 20%;
    height: fit-content;
    width: fit-content;
}

.nav-links li:hover{
    color: #00bfff;
    
}
.nav-links li a:hover{
    color: #00bfff;
}    
.social{
    position: absolute;
    display: flex;
    right: 2%;
    top: 60%;
    padding: 15px;
}

.social li{   
    position: relative;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    overflow: hidden;
    border-radius: 20%;
    height: fit-content;
    width: fit-content;
}

.social li a:hover{
    color: #00bfff;
    
}

.social:hover{
    color: #B47E28;
}
#ig{
    animation: fade 3.5s ease-in;
}
#li{
    animation: fade 3s ease-in;
}
#git{
    border-radius: 100%;
    height: fit-content;
    width: fit-content;
    animation: fade 2.5s ease-in;
}

.bganimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: black;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    height: auto;
    width: auto;
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: rgb(0, 0, 0);
    border-radius: 20%;
}
.colorBox:hover{
    background: #00bfff;
    transition-duration: 0s;
}

.backgroundani{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #00bfff;
    filter: blur(60px);
    /* animation: back 6s ease-in-out infinite; */
}

@keyframes back{
    0%{
        top: -60px;
    }
    50%{
        top: 120%;
    }
    100%{
        top: -60px;
    }
}

.open{
    display: flex;
    margin: auto;
    font-size: 1.5rem;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    gap: 10px;
}
.greet{
    display: flex;
    font-family: "montserrat",sans-serif;
    margin: auto;
    width: 40%;
    margin-top: 16%;
    text-align: center;
}

#mark{
    margin: auto;
    margin-left: 0;
    color: #B47E28;
    animation: fade .5s ease-in,jump 1.5s ease;
}

.greet span{
    margin: auto;
    margin-right: 0;
    font-size: 6rem;
    animation: jump .5s ease-out,fade .5s ease-in-out;
}

.open p{
    margin: auto;
    animation: fade 6s ease-in-out;
}

.cover{
    border: 2px solid #00bfff;
    border-top: #000;
    margin: auto;
    width: 80%;

    /* border-bottom: #000; */
    border-radius: 100px;
    z-index: -99;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
}
@keyframes typing {
    from { 
        width: 0 
    }
    to{
        width: 100;
    }
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
    
}


.snake{
    visibility: hidden;
    position: absolute;
    width: 5%;
    background-color: #00bfff;
    border: 3px solid #00bfff;
    border-radius: 100px;
    top: 9.6%;
    right: 5%;
    animation: S 1.5s ease-in-out, fade .3s ease;
    animation-delay: 1s;    
}
.snake2{
    top: 9.6%;
    right: 5%;
    position: absolute;
    height: 6%;
    background-color: #00bfff;
    border: 3px solid #00bfff;
    border-radius: 100px;
    animation: s2 1.5s ease-in-out, fade .3s ease;
    animation-delay: 2.5s;
}
.snake3{
    position: absolute;
    width: 4%;
    background-color: #00bfff;
    border: 3px solid #00bfff;
    border-radius: 100px;
    top: 32%;
    right: 5%;
    animation: s3 1.5s ease-in-out, fade .3s ease;
    animation-delay: 4s;
}

.profilepicture{
    position: absolute;
    width: 380px;
    height: 380px;
    border: solid 2px transparent;
    border-radius: 100%;
    background: transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, #B47E28,#00bfff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
    /* box-shadow: 0 10px 20px rgba(255, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23); */
    top: 3%;
}
/* 
.border:hover{
    border-bottom: 2px solid #00bfff;
} */

@keyframes S {
    0%{
        visibility: visible;
        top: 9.6%;
        right: 29.3%;
        z-index: 1;
    }
    100%{
        visibility: hidden;
        top: 9.6%;
        right: 5%;
    }
}

@keyframes s2 {
    0%{
        visibility: visible;
        z-index: 1;
        top: 9.6%;
        right: 5%;
    }
    100%{
        visibility: hidden;
        top: 24%;
        right: 5%;
    }
}

@keyframes s3 {
    0%{
        visibility: visible;
        z-index: 1;
        top: 32%;
        right: 5%;
    }
    50%{
        top: 32%;
        right: 12%;
    }
    100%{
        visibility: visible;
    }
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    z-index: 99;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.1s ease-in-out;
}

.cursor-dot {
    size: 10px;
    width: 15px;
    height: 15px;
    background-color: #00bfff;
    mix-blend-mode: lighten;
}

.cursor-dot-outline {
    size: 40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #B47E28;

}
.line{
    height: 120vh;
    border-left: 2px solid #00bfff;
    margin-left: 50%;
    margin-top: 17px;
}
.line2{
    position: absolute;
    width: 55vh;
    height: 250px;
    margin-left: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #00bfff;
    border-right:2px solid #00bfff ;
    margin-top: 200px;
}
.line3{
    position: absolute;
    width: 55vh;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #00bfff;
    border-bottom: #00bfff 2px solid;
    margin-top: 250px;
    margin-left: -440px;
}
.line4{
    position: absolute;
    width: 55vh;
    height: 250px;
    margin-left: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #00bfff;
    border-right:2px solid #00bfff ;
    margin-top: 500px;
}
.line5{
    position: absolute;
    width: 55vh;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #00bfff;
    border-bottom: #00bfff 2px solid;
    margin-top: 600px;
    margin-left: -440px;
}
.line7{
    position: relative;
    margin-top: -119px;
    margin-left: 50%;
    height: 250px;
    border-left: 2px solid #00bfff;
}
.projects{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin: 200px auto;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #00bfff;
}
.pj1 {
    position: relative;
    width: 350px;
    margin: auto;
    padding: 10px;
    aspect-ratio: 16/9;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #00bfff;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj1 img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    fill: #ff9d00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pj1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #ff9d00;
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .pj1:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }
  
  .pj1:hover img {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    font-size: 20px;
    margin:auto;
    border-radius: 8px;
    background: #00bfff;
    border: none;
    color: white;
  }
  .card__button:hover{
    background: #000;
    color: #ff9d00;
    border: 1px solid #ff9d00;
  }
.pj2 {
    position: relative;
    width: 350px;
    padding: 10px;
    margin: auto;
    aspect-ratio: 16/9;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #00bfff;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj2 img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    fill: #ff9d00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj2:hover img {
    scale: 0;
  }

.pj2:hover .card__content {
    transform: rotateX(0deg);
  }
.pj2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #ff9d00;
}
.pj3 {
    position: relative;
    width: 350px;
    padding: 10px;
    margin: auto;
    aspect-ratio: 16/9;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #00bfff;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj3 img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    fill: #ff9d00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj3:hover img {
    scale: 0;
  }

.pj3:hover .card__content {
    transform: rotateX(0deg);
  }
.pj3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #ff9d00;
}
.pj4 {
    position: relative;
    width: 350px;
    padding: 10px;
    margin: auto;
    aspect-ratio: 16/9;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #00bfff;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj4 img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    fill: #ff9d00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pj4:hover img {
    scale: 0;
  }

.pj4:hover .card__content {
    transform: rotateX(0deg);
  }
.pj4:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #ff9d00;
}

.research{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #00bfff;
}

.line6{
    height: 470px;
    border-left: 2px solid #00bfff;
    margin-left: 150px;
    margin-top: 15px;
}
.paper{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 80px;
}

.paper li{
    list-style-type: none;
    margin: 20px;
    margin-left: 0;
}
.paper li::before{
    content: "-";
    text-indent: -20px;
}
.paper li:hover{
    color: #00bfff;
}
.paper li a{
    color: #fff;
    text-decoration: none;
}
.paper li a:hover{
    color: #00bfff;
}
.certification{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin:480px auto;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #00bfff;
}
.box{
    margin:40px auto;
    width: max-content;    
    height: max-content;
    border:2px solid #00bfff;
    border-right: transparent;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    margin: 20px;
}

#img1{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
#img2{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
#img3{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
#img4{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
.text{
    font-size: 1.5rem;
    margin: auto;
}
.certificate{
    width: 200px;
    height: 250px;
    background-image: linear-gradient(163deg, #00bfff 0%, #ff9d00 100%);
    border-radius: 20px;
    transition: all .3s;
}

.certificate2 {
    width: 200px;
    height: 250px;
    background-color: #000000;
    border-radius: 20px;
    transition: all .2s;
}

.certificate2:hover {
    transform: scale(0.96);
    border-radius: 20px;
}

.certificate:hover {
    box-shadow: 0px 0px 20px 1px rgba(0, 179, 255, 0.3);
}

.certi{
    position: relative;
    height: fit-content;
    width: max-content;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    margin: auto;
    color: #fff;
    background-color: #00bfff;
}
#certi:hover{
    color: #00bfff;
    background-color: transparent;
    border: 2px solid #00bfff;
}
.skills{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin: auto;
    /* margin-top: -90px; */
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #00bfff;
}

.skill{
    width: 100%;
    height: auto;
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    margin:40px auto;
    border: 2px solid #00bfff;
    border-left: transparent;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    justify-content: center;
    text-align: justify;
    letter-spacing: 1px;
    gap: 15px;
}
.skill ul{
    list-style-type: disc;
    margin: 20px;
}

footer{
    background-color: transparent;
    border: 2px solid #00bfff;
    margin-top: 350vh;
    text-align: start;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    flex-direction: row;
    display: flex;
}
footer p{
    margin:auto;
    margin-right: 0px;
    margin-left: 100px;
}
footer i{
    font-size: 1rem;
    margin: auto;
    margin-left: 10px;
}
footer #foot{
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: 20px;
}
